.textomain {
    text-align: center;
    text-transform: uppercase;
}

.navCategoria{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.navCategoria button{
    border: none;
    cursor: pointer;
    font-size: 18px;
    background: none;
}

.navCategoria button:hover {
    border-bottom: 2px solid black;
}

@media screen and (min-width: 393px) and (max-width: 480px) { 
    .navCategoria{ 
        display: grid;
        grid-template-columns: repeat(auto-fill, 90px);
        margin: none;
    }

    .navCategoria button{
        display: flex;
        padding: 10px; 
        align-items: center;
        justify-content: center;
    }
}