.produtoMain {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 11rem);
    margin: 0px 20px;
    gap: 4rem;
}

.produtoCart {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.produto {
    margin-bottom: 10px;
}

.imgproduto {
    padding: 5px;
}

.titleProduct {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
    margin-bottom: 20px;
}
