.cart_iten {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cart_iten:last-child {
    border-bottom: none;
}

.cart_item_img {
    width: 90px;
    height: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

.cart_item_content {
    padding: 0px 35px 0 10px;
}

.cart_item_title {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.cart_item_price {
    font-weight: 500;
}

.imcrement__item {
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: 0px 10px;
    cursor: pointer;
}

.decrement__item {
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: 0px 5px;
    cursor: pointer;
}

.imcrement__item:hover {
    color: green;
}

.decrement__item:hover {
    color: red;
}

.btn_remove_cart {
    /* position: absolute; */
    border: none;
    background: none;
    cursor: pointer;
    padding-left: 100px;
}

.btn_remove_cart:hover {
    color: red;
}