.containerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.infoitem {
    width: 400px;
    height: 200px;
    background-color: #f6f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.infotext {
    display: block;
    font-size: 12px;
    padding-left: 20px;
}

.infotext a {
    text-decoration: none;
    color: black;
}

.priceItem {
    margin-top: 10px;
    font-size: 20px;
}

.imgSecundaria{
    padding-right: 20px;
}





@media screen and (min-width: 320px) and (max-width: 956px) { 
    .containerItem {
        display: grid;
        margin-top: 30px;
        text-align: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, 1fr);
    }

    .infoitem {
        margin-bottom: 20px;
    }
    
    .infotext a {
        font-size: 10px;
    }

}

/* @media screen and (min-width: 480px) and (max-width: 1150px) { 
    .containerItem {
        display: grid;
        margin-top: 30px;
        align-items: center;
        justify-items: center;
        gap: 0;
    }
} */
/* 
@media screen and (min-width: 820px) and (max-width: 1180px) { 
    .containerItem {
        display: flex;
        /* margin-top: 30px;
        align-items: center;
        justify-items: center;
        gap: 0; 
    }
}
*/