.containerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.infoitem {
    width: 400px;
    height: 200px;
    background-color: #f6f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.infotext {
    display: block;
    font-size: 12px;
    padding-left: 20px;
}

.infotext a {
    text-decoration: none;
    color: black;
}

.priceItem {
    margin-top: 10px;
    font-size: 20px;
}

.imgSecundaria{
    padding-right: 20px;
}


@media screen and (min-width: 393px) and (max-width: 480px) { 
    .containerItem {
        display: block;
        margin-top: 30px;
        text-align: center;
        justify-items: center;
    }

    .infoitem {
        margin-bottom: 20px;
    }
    
    .infotext a {
        font-size: 10px;
    }

}