.containerItem {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 22rem);
    gap: 4rem;
    margin-left: -55px;
}

.infoitem {
    width: 400px;
    height: 200px;
    background-color: #9babab;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.infotext {
    display: block;
}